.container {
  background: #eee;
}
.container h1 {
  color: #040404;
}
.container span {
  color: #000;
  border-radius: 5px;
}
.container span:hover {
  color: #f27ba3;
}
.container ul {
  list-style: none;
}
.container a {
  text-decoration: none;
}
.container li {
  padding: 5px;
  margin-top: 5px;
}
.container li a {
  font-size: 20px;
  padding: 5px;
}
.container ul {
  display: inline-block;
}
.container .list li {
  float: left;
}
.container .content {
  width: 250px;
  background: #dd4587;
  border: 1px solid #9f1d55;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px #9f1d55;
}
.container .content h2 {
  text-align: center;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.container .content p {
  text-align: center;
  color: #fff;
}
div span {
  margin-left: 10px;
}
span.icon-x {
  padding: 10px 15px;
  background: #e91e63;
}
span.icon-x:hover {
  background: #ee4c83;
  color: #fff;
}
.btn-link {
  border: 1px solid #e91e63;
  border-radius: 1px;
}
.btn-link:hover {
  background: #ee4c83;
  color: #fff ;
}
.btn-sucess {
  border: 1px solid #357935;
  border-radius: 1px;
  color: #fff;
  background: #5cb85c;
}
.btn-sucess:hover {
  background: #449d44;
  color: #fff ;
}
.btn-defaut {
  border: 1px solid #404040;
  border-radius: 5px;
}
.btn-defaut:hover {
  background: #e1e1e1;
  color: #000;
}
.btn-warning {
  border: 1px solid #de8a13;
  border-radius: 2px;
  color: #fff;
  background: #eea236;
}
.btn-warning:hover {
  background: #ec971e;
}
.btn-danger {
  border: 1px solid #c9302c;
  border-radius: 2px;
  color: #fff;
  background: #d9534f;
}
.btn-danger:hover {
  background: #d43f3a;
}
div p {
  color: red;
}
#text {
  color: #000;
}
.caller {
  color: blue;
}
.cal {
  background: #cc0000;
  color: red;
}
link:hover:visited,
.selector {
  color: blue;
}
