.container{
  background :#eee;
  h1{
    color:#040404;
  }
  span{
 .mixin(@color: #000);
  border-radius:5px;
   &:hover {color:lighten(#e91e63,20%);
            }
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  li{
    padding: 5px;
    margin-top: 5px;
  }
  li a{
    font-size: 20px;
    padding: 5px;
  }
}
div span{
  margin-left: 10px;
}
 span.icon-x{
  padding:10px 15px;
  background: @background;
   &:hover {background:lighten(#e91e63,10%);
            .mixin();
            }
}
@background:#e91e63;
.background-btn(@color: #fff){
background: @color;
}
@color:#00a1e5;
.mixin(@color:#fff){
color:@color;
}
.border-line (@color: #fff,@size: 1px, @style:solid ,@radius:2px){
 border: @size @style @color;
 border-radius: @radius;
 }
.btn-link{ 
  .border-line(@color: #e91e63 ,@radius:1px);
  &:hover{
    background:lighten(@background,10%);
    color: #fff ;
  }
}
.btn-sucess{
   .border-line(@color:darken(#5cb85c,20%),@radius:1px);
  .mixin();
  .background-btn(@color:#5cb85c);
  &:hover{
    background: darken(#5cb85c,10%);
    color: #fff ;
  }
}
.btn-defaut{
  .border-line(@color:#404040,@radius:5px);
  &:hover{
    background: darken(#eee,5%);
    .mixin(@color: #000);
  };
}
.btn-warning{
  .border-line(@color: darken(#eea236,10%),@radius: 2px);
  .mixin();
  .background-btn(@color: #eea236);
  &:hover{
    background:darken(#eea236,5%);
  };
}
.btn-danger{
   .border-line(@color: darken(#d9534f,10%),@radius: 2px);
  .mixin();
  .background-btn(@color: #d9534f);
  &:hover{
    background:darken(#d9534f,5%);
  };
}